body {
    background-color: rgb(39, 39, 39);
}
#mini-cad-header {
    background-image: url("../Images/Screenshot\ 2026-04-11\ 172548\ (1).png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 300px;
}
header {
    background-image: url("../Images/IMG_0174.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 300px;
}
header h1 {
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 60px;

    background-color: white;
    
    padding: 5px 10px;
    border-radius: 20px;
}
p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
}
/* header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding-top: 0px;
} */
section {
    height: 50px;
    width: 100vw;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .buttons {
    display: flex;
}
section .pcb-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    
}
section .pcb-btn:hover {
    background-color: rgb(55, 55, 55);
    transform: scale(1.05);
}
section .home-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    
}
section .home-btn:hover {
    background-color: rgb(55, 55, 55);
    transform: scale(1.05);
}
section h2 {
    font-family: 'Inter', sans-serif;
    color: white;
    size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
}
section .practical-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}
section .practical-btn:hover {
    background-color: rgb(55, 55, 55);
    transform: scale(1.05);
}
section .mini-cad-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}
section .mini-cad-btn:hover {
    background-color: rgb(55, 55, 55);
    transform: scale(1.05);
}
section .apps-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    margin-right: 15px;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}
section .apps-btn:hover {
    background-color: rgb(55, 55, 55);
    transform: scale(1.05);
}
.img1, .img2, .img3 {
    width: 400px;
}
 .bracket-dwnldv1 {
    background-color: mediumpurple;
    border: none;
    border-radius: 12px;
    padding: 5px;
    margin-left: 25px;
    font-family: "roboto", sans-serif;
    color: white;
}
.bracket-dwnldv2 {
    background-color: mediumpurple;
    border: none;
    border-radius: 12px;
    padding: 5px;
    margin-left: 25px;
    font-family: "roboto", sans-serif;
    color: white;
}
.navigation-frame {
    width: 100%;
    height: 50px;
    border: none;
    display: block;
}